body{
    text-align: center;
    text-decoration-color: crimson

}
nav
{
    text-align: center;
    text-decoration-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: block;
    
}