body{
    background-color:skyblue;
}
/*Website logo*/
#logo{
    color:red;
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 36px;
    text-align: center;
}
h2{
  text-align: center;
}

/*Parent body of website*/
.parentContainer{
  max-width: 100%;
}

/*Top Destinations Box*/
#topDestinationsBox{
  border:3px solid red;
  position: relative;
  left: 20%;
  text-align: center; 
  width: 40em;
  height:40em;  
}

/*Image Slider Pics*/
.imageSlider{
  position: relative;
}
.mySlides{
  width:max-content;
  height: 1024px;
}

/*Search Box*/
.searchContainer{
  position: absolute;
  top: 50%;
  left:50%;
}
#searchT{
  size: 90;
  max-width: 400px;
}

/*Navigation Bar*/
.topNav {
    position: sticky;
    top:0;
    background-color: #333;
    overflow: hidden;
}
.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}
.topNav a:hover {
    background-color: #ddd;
    color: black;
}
.topNav a.active {
    background-color: #4CAF50;
    color: white;
}
