body{
    text-align: center;
    text-decoration-color: crimson;
    background-color:#f1f8e9;
    
}

/*#logo{
    color:rgb(0, 255, 157);
    font-family:cursive;
}*/
/*logo of the website*/
#i{
     border-radius:50%;
     padding-bottom: 0%;
     padding-top: 0%;

}
/*Navigation Bar*/
.topNav {
    background-color: #333;
    overflow: hidden;
    text-decoration-style:solid;
    text-decoration-color:grey;
}

.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}
.topNav a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
}
.topNav a.active {
    background-color: #4CAF50;
    color: white;
}
#h2{
    color:rgb(245,190,20);
    
}
/*div for the types of resorts*/
#wrapper{
    width:600px;

}
/*first div*/
#first{
     width:550px;
     
     margin-left:600px;
     
}
     
/*second div*/
#second{
    width:546px;
    float:left;
    padding:20px;
    margin-left:200px;
}
/*third div*/
#third{
    width:546px;
    margin-left:600px;
}
/*forth div*/
#forth{
    width:550px;
    padding:20px;
    margin-left:200px;
}
/*fifth div*/
#fifth{
    width:550px;
    margin-left:600px;
}
/*text for every div in the wrapper div*/
#p1{
    color:palevioletred;
}
#p2{
    color:peru;
}
#p3{
    color:lightsalmon;
}
#p4{
    color:lightseagreen;
}
#p5{
    color:lightslategray;
}
/*footer of the page*/
.foot{
    height:200px;
    color:brown;
    background-color:lightsteelblue;
    font-size:20px;
}
